pandas==2.2.3
numpy==2.0.2
geopandas==1.0.1
rioxarray==0.17.0
xarray==2024.9.0
h5netcdf==1.5.0
pyarrow==19.0.1
matplotlib==3.9.2
hvplot==0.11.1
geoviews==1.5.0
cartopy==0.24.0
earthaccess==0.11.0
folium==0.19.4  
mapclassify==2.8.1